@import url('https://fonts.googleapis.com/css?family=Playfair+Display');


/* Banner
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.banner {
    padding: 3rem 0;
    width: 100%;
}

.banner h2 {
    display: inline-block;
    font-size: 3rem;
    line-height: 1;
    text-align: center;
}


/* Dropdowns
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.card {
    width: 80%;
    padding: 1rem 0;
}


